<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../res/layui/css/layui.css" th:href="@{../static/res/layui/css/layui.css}">
    <link rel="stylesheet" href="../res/css/global.css" th:href="@{../static/res/css/global.css}">
    <script th:src="@{../static/res/mods/jquery-3.4.1.min.js}"></script>
</head>

<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo"  th:href="@{/}">
            <img th:src="@{../static/res/images/logoko.png}" style="width: 83px;height: 40px" alt="logo">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/"><i class="iconfont icon-jiaoliu"></i>主页</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{case/case.html}"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
            </li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <!-- 未登入的状态 -->
            <div th:if="${session.userLogin == null}">
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/user/login}"></a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/login}">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href="user/reg.html">注册</a>
                </li>
            </div>
            <!-- 登入后的状态 -->
            <li class="layui-nav-item" th:if="${session.userLogin != null}">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:text="${session.userLogin.nickname}"></cite>
                    <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${session.userLogin != null}">用户</i>
                    <img th:src="@{${session.userLogin.avatars}}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a th:href="@{/user/activate}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd th:if="${session.userLogin != null}"><a th:href="@{/user/logout}" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
            <li><a th:href="@{/}">公告</a></li>
            <li><a th:href="@{/}">消息<span class="layui-badge-dot"></span></a></li>
            <li><a th:href="@{/}">讨论</a></li>
            <li><a th:href="@{/}">建议</a></li>
            <li><a th:href="@{/}">动态</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
        </ul>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">
                    <a>置顶</a>
                </div>
                <ul class="fly-list">
                    <!-- 热门兼职 -->
                    <li>
                        <a href="user/home.html" class="fly-avatar">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="null">
                        </a>
                        <h2>
                            <a class="layui-badge">type</a>
                            <a href="info/detail.html">wds</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="user/home.html" link>
                                <cite>猪</cite>
                                <i class="iconfont icon-renzheng" title="认证信息：企业认证"></i>
                            </a>
                            <span>刚刚</span>
                            <span class="fly-list-kiss layui-hide-xs" title="浏览人数"><i class="iconfont icon-kiss"></i> 60</span>
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已满</span>
                            <span class="fly-list-nums"><i class="iconfont icon-pinglun1" title="回答"></i> 66</span>
                        </div>
                        <div class="fly-list-badge">
                            <span class="layui-badge layui-bg-black">置顶</span>
                            <span class="layui-badge layui-bg-red">热门</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a th:href="@{/}">综合</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/user/classify1}">码农</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/user/classify2}">家教</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/user/classify3}">工程师</a>
                    <span class="fly-mid"></span>
                    <a th:href="@{/user/classify4}" class="layui-this">其他</a>
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="" class="layui-this">按最新</a>
                            <span class="fly-mid"></span>
                        <a href="">按热门</a>
                    </span>
                </div>
                <ul class="fly-list" id="info-list">

                </ul>
                <div id="demo7" class="page" style="text-align: center"></div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">
                    <li>
                        <a href="https://github.com/rainorsunYU/my-first-spring-boot-project" target="_blank">rain的兼职项目的 GitHub 仓库，欢迎Star</a>
                    </li>
                </ul>
            </div>
            <div class="fly-panel fly-signin">
                <div class="fly-panel-title">
                    签到
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
                    <span class="fly-signin-days">已连续签到<cite>16</cite>天</span>
                </div>
                <div class="fly-panel-main fly-signin-main">
                    <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
                </div>
            </div>
            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">热门兼职</h3>
                <dl>
                    <i class="layui-icon fly-loading">&#xe63d;</i>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                </dl>
            </div>
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="info/detail.html">没有相关数据</a>
                    <span><i class="iconfont icon-pinglun1"></i> 0</span>
                </dd>
                <!-- 无数据时 -->
                <div class="fly-none">没有相关数据</div>
            </dl>
            <div class="fly-panel">
                <div class="fly-panel-title">公告</div>
                <div class="fly-panel-main">
                    <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">没有相关数据</a>
                </div>
            </div>
            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="http://www.github.com/" target="_blank">github</a></dd>
                    <dd><a href="http://www.baidu.com/" target="_blank">baidu</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">兼职</a> 2019/12/12 &copy; <a href="http://www.baidu.com/" target="_blank">www.wxwyz.com 出品</a></p>
</div>

<input type="hidden" id="totalHidden" th:value="${session.total}">

<script th:src="@{../static/res/mods/jquery-3.4.1.min.js}"></script>

<script th:src="@{../static/res/layui/layui.js}"></script>

<script th:src="@{../../static/res/mods/dateFormat.js}"></script>

<script>

    var total = 10;
    var jobtype1 = "码农";
    var jobtype2 = "家教";
    var jobtype3 = "工程师";

    function showRecord(pageNo, pageSize) {

        $.ajax({
            url: "/job/info2/classify2",
            type: "GET",
            data: {
                page: pageNo,
                size: pageSize,
                jobType1: jobtype1.toString(),
                jobType2: jobtype2.toString(),
                jobType3: jobtype3.toString()
            },
            success: function (date) {

                //加载后台返回的List集合数据
                for (var i = 0; i < date.length; i++) {

                    total = date.length;
                    var dataRelease = getDateTimeStamp(date[i].partTimeJob.releaseTime);

                    var ReleaseTime = timeago(dataRelease);

                    console.log(date[i].avatars);

                    $('#info-list').append("<li>\n" +
                        "                        <a class=\"fly-avatar\">\n" +
                        "                            <img src=\"" + date[i].avatars + "\"\n" +
                        "                                 alt=\"未知\">\n" +
                        "                        </a>\n" +
                        "                        <h2>\n" +
                        "                            <a class=\"layui-badge\">" + date[i].partTimeJob.jobType + "</a>\n" +
                        "                            <a href=\"/job/detail?jobId="+date[i].partTimeJob.jobId+"\">" + date[i].partTimeJob.jobTitle + "</a>\n" +
                        "                        </h2>\n" +
                        "                        <div class=\"fly-list-info\">\n" +
                        "                            <a href=\"user/home.html\" link>\n" +
                        "                                <cite>" + date[i].nickname + "</cite>\n" +
                        "                                <i class=\"iconfont icon-renzheng\" title=\"认证信息：商家\"></i>\n" +
                        "\n" +
                        "                            </a>\n" +
                        "                            <span>" + ReleaseTime + "</span>\n" +
                        "\n" +
                        "                            <span class=\"fly-list-kiss layui-hide-xs\" title=\"薪水\"><i class=\"iconfont icon-kiss\"></i>" + date[i].partTimeJob.jobSalary + "元/日</span>\n" +
                        "                            <span class=\"fly-list-nums\"><i class=\"iconfont icon-pinglun1\" title=\"回答\">"+date[i].comments+"</i></span>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"fly-list-badge\">\n" +
                        "                        </div>\n" +
                        "                    </li>");
                }
            },
            error: function () {
                alert("error");
            }
        });
    }


    //先初始化加载首页，十条数据
    showRecord(1, 10);

    layui.use(['laypage', 'util', 'jquery', 'carousel', 'element', 'form'], function () {

        var laypage = layui.laypage, $ = layui.$, util = layui.util,
            carousel = layui.carousel, form = layui.form, element = layui.element;

        $(".page").each(function (i, the) {
            laypage.render({
                elem: the //注意，这里的 test1 是 ID，不用加 # 号
                , count: total //数据总数，从服务端得到
                , limit: 10                      //每页显示条数
                , limits: [10, 20, 30]
                , curr: 1                        //起始页
                , groups: 5                      //连续页码个数
                , prev: '上一页'                 //上一页文本
                , next: '下一页'                 //下一页文本
                , first: 1                      //首页文本
                , last: 100                     //尾页文本
                , layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
                //跳转页码时调用
                , jump: function (obj, first) { //obj为当前页的属性和方法，第一次加载first为true
                    //非首次加载 do something
                    if (!first) {
                        //清空以前加载的数据
                        $('#info-list').empty();
                        //调用加载函数加载数据
                        showRecord(obj.curr, obj.limit);
                    }
                }
            });
        })
    })

</script>

</body>

</html>