<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{../../static/res/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/res/css/global.css}">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" th:href="@{/}">
            <img th:src="@{../../static/res/images/logoko.png}" style="width: 83px;height: 40px" alt="logo">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a th:href="@{/}"><i class="iconfont icon-jiaoliu"></i>主页</a>
            </li>
            <li class="layui-nav-item">
                <a><i class="iconfont icon-iconmingxinganli"></i>案例</a>
            </li>
        </ul>

        <ul class="layui-nav fly-nav-user">

            <!-- 未登入的状态 -->
            <div th:if="${ session.userLogin == null && session.businessLogin == null }">
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/user/login}"></a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/login}">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href="user/reg.html">注册</a>
                </li>
            </div>

            <!-- 登入后的状态 -->
            <li class="layui-nav-item" th:if="${session.businessLogin != null || session.userLogin != null}">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:if="${session.businessLogin != null}"
                          th:text="${session.businessLogin.nickname}"></cite>
                    <cite class="layui-hide-xs" th:if="${session.userLogin != null}"
                          th:text="${session.userLogin.nickname}"></cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：商家"
                       th:if="${session.businessLogin != null}"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${session.businessLogin != null}">商家</i>
                    <img th:if="${session.businessLogin != null}" th:src="@{${session.businessLogin.avatars}}">
                    <img th:if="${session.userLogin != null}" th:src="@{${session.userLogin.avatars}}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-hide-xs"><a href="/">首页</a></li>
                <li><a href="">公告</a></li>
                <li class="layui-this"><a href="">详情</a></li>
                <li><a href="">消息<span class="layui-badge-dot"></span></a></li>
                <li><a href="">建议</a></li>
                <li><a href="">动态</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

                <!-- 用户登入后显示 -->
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"
                    th:if="${session.businessLogin != null }"><a href="../user/index.html">我发表的贴</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"
                    th:if="${session.businessLogin != null }"><a href="../user/index.html#collection">我收藏的贴</a></li>

            </ul>

            <div class="fly-column-right layui-hide-xs" th:if="${session.businessLogin != null}">
                <span class="fly-search"><i class="layui-icon"></i></span>
                <a th:href="@{/user/upload}" class="layui-btn">发表新帖</a>
            </div>


        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${businessJob.partTimeJob.jobTitle}">title</h1>
                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <span class="layui-badge layui-bg-green fly-detail-column"
                          th:text="${businessJob.partTimeJob.jobType}">type</span>


                    <span class="fly-list-nums">
<!--            <span class="layui-btn layui-btn-xs jie-admin layui-bg-red" type="del">删除</span>-->
            <a href="#comment"><i class="iconfont" title="评论">&#xe60c;</i>[[${businessJob.comments}]]</a>
            <i class="iconfont" title="人气">&#xe60b;</i> [[${businessJob.partTimeJob.jobViews}]]
          </span>

                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="../user/home.html">
                        <img th:src="@{${businessJob.avatars}}" alt="null">
                    </a>
                    <div class="fly-detail-user">
                        <a href="../user/home.html" class="fly-link">
                            <cite th:text="${businessJob.nickname}"></cite>
                            <i class="iconfont icon-renzheng" title="认证信息：商家"></i>
                            <i class="layui-badge fly-badge-vip">商家</i>
                        </a>
                        <span th:text="${#dates.format(businessJob.partTimeJob.releaseTime,'yyyy-MM-dd')}">2017-11-30</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">已发布兼职：1个</span>
                    </div>
                </div>
                <div class="detail-body photos">
                    <p th:text="${businessJob.partTimeJob.jobContent}">
                    </p>
                    <p>时间详情：</p>
                    <pre style="font-size: 14px;font-family: Arial">
# 开始时间 <span th:text="${#dates.format(businessJob.partTimeJob.startTime)}">time</span>
# 结束时间 <span th:text="${#dates.format(businessJob.partTimeJob.endTime)}">time</span>
# 联系方式 <span th:text="${businessJob.phone}"></span>
</pre>

                    <div class="layui-card">
                        <div class="layui-card-header"><h5>内容详情</h5></div>
                        <div class="layui-card-body">
                            <div style="float: right">
                                <button type="button" id="bmBtn" th:if="${session.businessLogin==null}"
                                        class="layui-btn layui-btn-fluid  layui-btn-normal">
                                    立即报名
                                </button>
                                <br>
                                <button type="button" id="scBtn" class="layui-btn layui-btn-fluid   layui-btn-warm">
                                    加入收藏
                                </button>

                            </div>
                            <span class="layui-badge">招聘人数</span>：<span th:text="${businessJob.partTimeJob.needNumber}">0</span>
                            人<br>
                            <span class="layui-badge">工作薪水</span>：<span
                                th:text="${businessJob.partTimeJob.jobSalary}">0</span> 元/天<br>
                            <span class="layui-badge">工作地点</span>：<span
                                th:text="${businessJob.partTimeJob.jobLocation}">0</span></a>

                        </div>

                    </div>

                    相关图片
                    <hr>
                    <p>
                        <!--            <img src="../../res/images/fly.jpg" alt="Fly社区">-->
                    </p>
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>评论</legend>
                </fieldset>

                <ul class="jieda" id="jieda">


                    <li data-id="111" class="jieda-daan" id="comment-info">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="">
                                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                     alt="null">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite>贤心</cite>
                                </a>
                                <span style="color:#FF9E3F">(用户)</span>
                            </div>
                            <div class="detail-hits">
                                <span>2017-11-30</span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p>香菇那个蓝瘦，这是一条被采纳的回帖</p>
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan" id="dianZan" type="zan"><i
                                    class="iconfont icon-zan"></i><em></em></span>
                            <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                            <div class="jieda-admin">
                                <span type="del">删除</span>
                                <span type="edit">举报</span>
                            </div>
                        </div>
                    </li>

                    <!-- 无数据时 -->
                    <li class="fly-none" th:if="${session.commentTotal == 0 }">消灭零回复</li>

                </ul>

                <div id="demo7" class="page" style="text-align: center"></div>

                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item layui-form-text">
                        <a name="comment"></a>
                        <div class="layui-input-block">
                                <textarea id="L_content" name="content" required lay-verify="required"
                                          placeholder="请输入内容" class="layui-textarea fly-editor"
                                          style="height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="jid" value="123">
                        <button class="layui-btn" lay-filter="*" id="commSubmit">提交回复</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a>没有相关数据</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>

                <!-- 无数据时 -->

                <div class="fly-none">没有相关数据</div>

            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    公告
                </div>
                <div class="fly-panel-main">
                    <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">没有相关数据</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">兼职</a> 2019/12/12 &copy; <a href="http://www.baidu.com/"
                                                                                   target="_blank">www.wxwyz.com 出品</a>
    </p>
</div>
<input type="hidden" th:value="${session.commentTotal}" id="commentTotal">
<input type="hidden" th:if="${session.userLogin != null}" th:value="${session.userLogin.id}" id="userLoginId">
<input type="hidden" th:if="${session.userLogin != null}" th:value="${session.userLogin.nickname}"
       class="userCommentator" id="userCommentator">
<input type="hidden" th:if="${session.businessLogin != null}" th:value="${session.userLogin.nickname}"
       class="userCommentator">
<input type="hidden" th:if="${session.userLogin != null}" th:value="${session.userLogin.avatars}" class="userAvatar">
<input type="hidden" th:if="${session.businessLogin != null}" th:value="${session.userLogin.avatars}"
       class="userAvatar">
<input type="hidden" th:value="${businessJob.partTimeJob.jobId}" id="parttimejobId">

<script th:src="@{../../static/res/layui/layui.js}"></script>
<script th:src="@{../../static/res/mods/jquery-3.4.1.min.js}"></script>

<script>


    var flag2 = 1;

    function addCount() {
        var flag = $(this).hasClass('zanok');
        console.log(flag)
        if (flag2 % 2 != 0) {
            alert("if" + flag2)
            // alert($(this).hasClass('zanok'));
            $(this).addClass('zanok');

        } else {
            alert("else" + flag2)
            $(this).removeClass('zanok');
        }
        flag2++;
        console.log(flag2);
    }

    var total = 5;

    //js函数代码：字符串转换为时间戳
    function getDateTimeStamp(dateRelease) {
        return new Date(dateRelease);
    }

    function timeago(dateTimeStamp) {   //dateTimeStamp是一个时间毫秒，注意时间戳是秒的形式，在这个毫秒的基础上除以1000，就是十位数的时间戳。13位数的都是时间毫秒。
        var minute = 1000 * 60;      //把分，时，天，周，半个月，一个月用毫秒表示
        var hour = minute * 60;
        var day = hour * 24;
        var week = day * 7;
        var halfamonth = day * 15;
        var month = day * 30;
        var now = new Date().getTime();   //获取当前时间毫秒
        // console.log(now)
        var diffValue = now - dateTimeStamp;//时间差

        if (diffValue < 0) {
            return;
        }
        var minC = diffValue / minute;  //计算时间差的分，时，天，周，月
        var hourC = diffValue / hour;
        var dayC = diffValue / day;
        var weekC = diffValue / week;
        var monthC = diffValue / month;
        if (monthC >= 1 && monthC <= 3) {
            result = " " + parseInt(monthC) + "月前"
        } else if (weekC >= 1 && weekC <= 3) {
            result = " " + parseInt(weekC) + "周前"
        } else if (dayC >= 1 && dayC <= 6) {
            result = " " + parseInt(dayC) + "天前"
        } else if (hourC >= 1 && hourC <= 23) {
            result = " " + parseInt(hourC) + "小时前"
        } else if (minC >= 1 && minC <= 59) {
            result = " " + parseInt(minC) + "分钟前"
        } else if (diffValue >= 0 && diffValue <= minute) {
            result = "刚刚"
        } else {
            var datetime = new Date();
            datetime.setTime(dateTimeStamp);
            var Nyear = datetime.getFullYear();
            var Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
            var Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
            var Nhour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
            var Nminute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
            var Nsecond = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
            result = Nyear + "-" + Nmonth + "-" + Ndate
        }
        return result;
    }

    function showRecord(pageNo, pageSize) {

        $.ajax({
            url: "/comment/info",
            type: "GET",
            data: {
                page: pageNo,
                size: pageSize,
                jobId: $('#parttimejobId').val()
            },
            success: function (date) {
                total = $('#commentTotal').val();
                console.log(total);

                //加载后台返回的List集合数据
                for (var i = 0; i < date.length; i++) {
                    var dataRelease = getDateTimeStamp(date[i].createTime);
                    var ReleaseTime = timeago(dataRelease);
                    console.log(date[i].avatars);
                    $('#comment-info').append(" <li data-id=\"111\" class=\"jieda-daan\" id=\"comment-info\">\n" +
                        "                        <a name=\"item-1111111111\"></a>\n" +
                        "                        <div class=\"detail-about detail-about-reply\">\n" +
                        "                            <a class=\"fly-avatar\">\n" +
                        "                                <img src=\"" + date[i].avatar + "\" alt=\"null\">\n" +
                        "                            </a>\n" +
                        "                            <div class=\"fly-detail-user\">\n" +
                        "                                <a class=\"fly-link\">\n" +
                        "                                    <cite>" + date[i].commentator + "</cite>\n" +
                        "                                </a>\n" +
                        "                                <span style=\"color:#FF9E3F\">(用户)</span>\n" +
                        "                            </div>\n" +
                        "                            <div class=\"detail-hits\">\n" +
                        "                                <span>" + ReleaseTime + "</span>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"detail-body jieda-body photos\">\n" +
                        "                            <p>" + date[i].content + "</p>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"jieda-reply\">\n" +
                        "                            <span class=\"jieda-zan\" id=\"dianZan\" onclick=\"addCount()\" type=\"zan\"><i class=\"iconfont icon-zan\"></i><em></em></span>\n" +
                        "                            <span type=\"reply\"><i class=\"iconfont icon-svgmoban53\"></i>回复</span>\n" +
                        "                            <div class=\"jieda-admin\">\n" +
                        "                                <span type=\"del\">删除</span>\n" +
                        "                                <span type=\"edit\">举报</span>\n" +
                        "                            </div>\n" +
                        "                        </div>\n" +
                        "                    </li>");
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

    //先初始化加载首页，十条数据
    showRecord(1, 5);

    layui.use(['laypage', 'util', 'jquery', 'carousel', 'element', 'layer', 'form'], function () {

        var laypage = layui.laypage, $ = layui.$, util = layui.util,
            carousel = layui.carousel, form = layui.form, element = layui.element, layer = layui.layer;

        $('#bmBtn').click(function () {
            if ($('.userCommentator').val() == null || $('.userCommentator').val() == "") {
                layer.msg('请先登录', {
                    icon: 5,
                    time: 4000
                });
            } else {
                var index2 = layer.alert('确定要报名吗', {
                    title: '提示'
                    , btn: ['确定', '取消']
                    , shadeClose: true
                    , id: 'LAY_layui2'
                    , icon: 6
                    , btnAlign: 'c'
                    , time: 5000
                    , anim: 2
                    , yes: function () {
                        layer.close(index2);
                        console.log($('#userLoginId').val());
                        console.log($('#parttimejobId').val());
                        $.ajax({
                            url: "/user/enter",
                            type: "PUT",
                            data: {
                                userId: $('#userLoginId').val(),
                                jobId: $('#parttimejobId').val()
                            },
                            beforeSend: function () {
                                layer.load(2);
                            },
                            success: function (result) {
                                if (result === "1") {
                                    layer.msg('报名成功！', {
                                        icon: 6,
                                        time: 2000
                                    });
                                    $(this).attr("disabled","true");
                                    $('#bmBtn').addClass('layui-btn-disabled');
                                }else if (result === "101"){
                                    layer.msg('抱歉！报名人数已满。请浏览其他兼职', {
                                        icon: 5,
                                        time: 2000
                                    });
                                }else if (result === "-1"){
                                    layer.msg('系统异常，请稍后重试！', {
                                        icon: 5,
                                        time: 2000
                                    });
                                }else {
                                    layer.msg('系统异常，请稍后重试....！', {
                                        icon: 5,
                                        time: 2000
                                    });
                                }
                            },
                            complete: function () {
                                layer.closeAll('loading');
                            },
                            error: function () {
                                layer.msg('服务冒烟啦', {
                                    icon: 5,
                                    time: 2000
                                });
                            }
                        })
                    }
                    , btn2: function () {
                        layer.closeAll();
                        return false;
                    }
                });
            }
        });


        $('#commSubmit').click(function () {
            alert($('.userCommentator').val());
            if ($('.userCommentator').val() == null || $('.userCommentator').val() == "") {
                layer.msg('请先登录', {
                    icon: 5,
                    time: 4000
                });
            } else if ($('#L_content').val() === "") {
                layer.msg('', {
                    icon: 5,
                    time: 2000
                });
            } else {
                console.log($('#parttimejobId').val());
                console.log($('.userAvatar').val().toString());

                $.ajax({
                    url: "/comment/add",
                    type: "POST",
                    data: {
                        jobId: $('#parttimejobId').val(),
                        content: $('#L_content').val(),
                        commentator: $('.userCommentator').val(),
                        avatar: $('.userAvatar').val().toString()
                    },
                    beforeSend: function () {
                        layer.load(2);
                    },
                    success: function (result) {
                        if (result === "1") {
                            $('#comment-info').prepend(" <li data-id=\"111\" class=\"jieda-daan\" id=\"comment-info\">\n" +
                                "                        <a name=\"item-1111111111\"></a>\n" +
                                "                        <div class=\"detail-about detail-about-reply\">\n" +
                                "                            <a class=\"fly-avatar\">\n" +
                                "                                <img src=\"" + $('.userAvatar').val() + "\" alt=\"null\">\n" +
                                "                            </a>\n" +
                                "                            <div class=\"fly-detail-user\">\n" +
                                "                                <a class=\"fly-link\">\n" +
                                "                                    <cite>" + $('.userCommentator').val() + "</cite>\n" +
                                "                                </a>\n" +
                                "                                <span style=\"color:#FF9E3F\">(用户)</span>\n" +
                                "                            </div>\n" +
                                "                            <div class=\"detail-hits\">\n" +
                                "                                <span>刚刚</span>\n" +
                                "                            </div>\n" +
                                "                        </div>\n" +
                                "                        <div class=\"detail-body jieda-body photos\">\n" +
                                "                            <p>" + $('#L_content').val() + "</p>\n" +
                                "                        </div>\n" +
                                "                        <div class=\"jieda-reply\">\n" +
                                "                            <span class=\"jieda-zan\" id=\"dianZan\" onclick=\"addCount()\" type=\"zan\"><i class=\"iconfont icon-zan\"></i><em></em></span>\n" +
                                "                            <span type=\"reply\"><i class=\"iconfont icon-svgmoban53\"></i>回复</span>\n" +
                                "                            <div class=\"jieda-admin\">\n" +
                                "                                <span type=\"del\">删除</span>\n" +
                                "                                <span type=\"edit\">举报</span>\n" +
                                "                            </div>\n" +
                                "                        </div>\n" +
                                "                    </li>");
                        } else {
                            layer.msg('评论失败，请稍后再试', {
                                icon: 5,
                                time: 2000
                            });
                        }
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    },
                    error: function () {
                        layer.msg('服务冒烟啦', {
                            icon: 5,
                            time: 2000
                        });
                    }
                });
            }
        });

        $(".page").each(function (i, the) {
            laypage.render({
                elem: the //注意，这里的 test1 是 ID，不用加 # 号
                , count: total //数据总数，从服务端得到
                , limit: 10                      //每页显示条数
                , limits: [10, 20, 30]
                , curr: 1                        //起始页
                , groups: 5                      //连续页码个数
                , prev: '上一页'                 //上一页文本
                , next: '下一页'                 //下一页文本
                , first: 1                      //首页文本
                , last: 100                     //尾页文本
                , layout: ['count', 'prev', 'page', 'next', 'refresh']
                //跳转页码时调用
                , jump: function (obj, first) { //obj为当前页的属性和方法，第一次加载first为true
                    //非首次加载 do something
                    if (!first) {
                        //清空以前加载的数据
                        $('#comment-info').empty();
                        //调用加载函数加载数据
                        showRecord(obj.curr, obj.limit);
                    }
                }
            });
        })
    });

</script>

</body>
</html>